body{
    background-color: #4E8098;

}

h1 {
    text-align: center;
    color: lightgray;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainWeather{
    height: 300px;
    width: 300px;
    background: white;
    margin: 0px auto;
    border-radius: 100%;
}

.mainWeather img{
    height: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
h2{
    color: #0B5351;
    text-align: center;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span{
    font-size: 100px;
}

.warning{
    display: flex;
    justify-content: space-around;

    width: 200px;
    margin: 0 auto;
    height: 45px;
    padding: 5px;
    border: solid black 3px;
    border-radius: 5%;
}

.icon{
    height: 100%;
        background-color: OrangeRed;
}

.icon img{
    height: 100%;
}

.warningText{
    /* background-color: violet; */
}

/* .weathers{
    background-color:white;
    margin: 0 auto;
    height: 200px;
    width: 1500px;
} */

.day{
    background-color: tomato;
    height: 200px;
    width: 200px;
}

.day h2{
    text-align: center;
    color: black;
}