.backGround{
    background-image: url("../Pictures/backgrounds.jpg");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 10% 10% 40% auto;
}

.search,.loading{
    grid-column-start: 2;
    grid-row-start: 3;
}
.loading h1{
    text-align: center;

}

.searchedLocation{
    grid-column-start: 2;
    grid-row-start: 2;
}
.searchedLocation h1,h2{
    text-align: center;
}

.displayWeather{
    grid-column-start: 2;
    grid-row-start: 4;
    margin: 0px auto;
    height: fit-content;
    width: fit-content;
}




