.form{
    width: 50%;

}

@media screen and (min-width:500px) {
    .form{
        width: 253px;
    }
}

.weatherBox{
    display: inline-block;
}
.weatherBox h2{
    text-align: center;
}
.weatherBox img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.week{
    border: 2px solid black;
    border-radius: 1%;
    display: flex;
    justify-self: center;
    /* overflow: scroll; */
    
}
.weeklyWeatherDisplay{
    font-size: 30% ;
    width: 14%;
    min-width: 95px;
    margin: 1vw;
}
.weeklyWeatherDisplay h2{
    font-size: 15px ;
}

.weeklyWeatherDisplay img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px; 
}


.forecast{

}

